.box {

  height : 100px;
  width : 100px;
  border : 1 solid black;
  text-align : center;
  margin : 10;
  padding : 10;
}

#box1 {

  background-color : red;
}

#box2 {

  background-color : green;
  margin : 20;
}

#box3 {

  background-color : blue;
  margin : 20;
}